html
  head
    title=title
    link(href='//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css', rel='stylesheet')
    link(href='http://getbootstrap.com/examples/signin/signin.css')
    link(href='../css/mlh.css')
  body.bkimg
    div.container
      div.jumbotron
        h1 Motherlode Holdings, Inc.

        div.container
          form.form-signin(action='/login', method='post')

          p Welcome to Motherlode Holdings, Inc.
          label.sr-only(for='username') Username
          input.span3.form-control(type='text', name='username', id='username', placeholder='username', required, autofocus)
          label.sr-only(for="password") Password
          input.span3.form-control(type='password', name='password', id='password', placeholder='password', required, autofocus)

          a.btn.btn-primary(href="/employee") Login now

          p
          p
            span.small Are you a new employee?
            a.small(href="/register")  Request an account.
