doctype
html
  include ./inc/header
  body
    header
    .container
      .main-content
        block employeeName
        block timeSelector
        block timeSheet
      .sidebar
        block sidebar
    footer
      p Running MEAN via Just Not Something Weird
